*
!symfony.lock
!composer.lock
!composer.json
!.gitignore
!templates
!templates/**
!src
!src/**
!config
!config/**
!public
!public/index.php
!bin
!bin/**
!.github
!.github/**
!Dockerfile
!docker-compose.yml
!Makefile
!Makefile.docker
!DEVELOPMENT.md

public/assets
templates/app