*
!symfony.lock
!composer.lock
!composer.json
!.gitignore
!templates
!templates/**
!src
!src/**
!config
!config/**
!public
!public/**
!bin
!bin/**
!.github
!.github/**
!Dockerfile
!docker-compose.yml
!Makefile
!Makefile.docker

public/assets
templates/app